<!DOCTYPE html>
<html>
<head>
	<title>springboot webservice</title>
	<meta http-equiv="Content-Type" content = "text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<h1>start springboot service</h1>
	<table>
		<tr>
<td> test</td>


		</tr>
	</table>
</body>
</html>